@import url(https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rowdies&display=swap);

body {
  
}

.container {
  display: grid;
  border-radius: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 40px 40px;
  text-align: center;
  background-color: rgb(232, 143, 235);
  margin: auto;
  width: 1000px;
  height: 100%;
}

a:visited {
  color: black;
  text-decoration: none;
}

.auto-clicker-stats {
  font-family: "Rowdies", cursive;
  font-size: large;
  grid-column: 1/ 2;
}

#auto-clicker-button {
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  font-size: large;
  background-color: rgba(162, 111, 192, 0.596);
  border-color: rgb(169, 13, 241);
  font-family: "Rowdies", cursive;
}

#donuts {
  font-size: 50px;
  font-family: "Grenze Gotisch";
  grid-column: 1 / 3;
}

.donut-button {
  grid-column: 1 / 3;
}

footer {
  padding: 12px;
  margin: 8px;
  grid-column: 1 / 3;
}

#multiplier-button {
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  font-size: large;
  background-color: rgba(162, 111, 192, 0.596);
  border-color: rgb(169, 13, 241);
  font-family: "Rowdies", cursive;
}

.multiplier-stats {
  font-family: "Rowdies", cursive;
  font-size: large;
  grid-column: 2 / 2;
}

.navigation {
  grid-column: 1/3;
  font-family: "Rowdies", cursive;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  grid-column: 1/3;
}

.navigation li {
  padding: 5px;
}

p {
  margin: 20px;
}

#reset-button {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(162, 111, 192, 0.596);
  border-color: rgb(169, 13, 241);
  font-size: medium;
  font-family: "Rowdies", cursive;
}